<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.android.sttarterdemo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".application_controller.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.auth.LoginWithAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.auth.LoginWithOTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.auth.SignUpWithOTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.auth.LoginExternalAuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.auth.SignUpWithAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.communicator.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.communicator.GroupMembersListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.communicator.AddUsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.communicator.CreateGroupActivity"
            android:screenOrientation="portrait" />
        <service
            android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="org.eclipse.paho.android.service.MqttService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyD8WL_ghBBdATkbzdBPcWj59y_2CYwTMuk"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bd0161598a368743e4a041db9792335804f5fee7" />
    </application>

</manifest>